# Backend
backend/.venv/
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/logs/
backend/.env
backend/alembic/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Project-wide
*.env
*.pyc
__pycache__/
.DS_Store
venv/
